/* Todos os elementos da página */
*{
    margin: 0;
    padding: 0;
}

/* Elementos com o ID "titulo" */
#titulo{
    font-family: sans-serif;
    color: #380b61;
    margin-top: 5%;
    margin-left: -10%;
}

/* Elementos com o ID "subtitulo" */
#subtitulo{
    font-family: sans-serif;
    color: #380b61;
    margin-bottom: 2em;
    margin-left: 5%; 

}
/* Elementos de tag <fieldset>*/
fieldset{
    border: 0;
    margin-left: -3%;
}
    
body{
    background-color: #f0f8ff;
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    margin-left: 35%;
    margin-top: 2%;
    justify-content: center;
}

input[type="text"], select{
    padding: 0.2em;
    border: 1px solid #4c29b4;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
}

input, button, select{
    border-radius: 5px;
}

fieldset.grupo.campo{ 
    float: left;
    margin-right: 1em;
}

fieldset{
    width: 100%;
    margin-bottom: 1.5em;
}

button{
    font-size: 1.2em;
    background: #59429D;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-left: 30%;
}

button:hover{
    background:#ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

#check{
    display: inline-block;
}

#nome, #sobrenome, #cpf, #rg, #endereço, #numero, #estado, #cidade, #bairro, #cep, #telefonefixo, #telefonecelular{
    width: 80%
}

#nome:focus, #sobrenome:focus, #cpf:focus, #rg:focus, #sexo:focus, #endereço:focus, #numero:focus, #bairro:focus, #cidade:focus, #estado:focus, #cep:focus, #telefonefixo:focus, #telefonecelular:focus{
    background: #e0e0f8;
}
